{
    "openapi": "3.0.0",
    "info": {
        "description": "Call Twitter APIs with word2vec query expansion and sentiment analysis.",
        "title": "Twitter APIs with Word2Vec query expansion, and add sentiment by Apitore sentiment",
        "version": "0.0.1",
        "x-apisguru-categories": [
            "text"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_apitore.com_img_apis_26.jpg"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://api.apitore.com/json/26",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "apitore.com",
        "x-serviceName": "twitterApisWithWord2vecQueryExpansion,AndAddSentimentByApitoreSentimentApi"
    },
    "tags": [
        {
            "description": "Twitter Word 2 Vec With Sentiment Controller",
            "name": "twitter-word-2-vec-with-sentiment-controller"
        }
    ],
    "paths": {
        "/twitter-word2vec-sentiment/search": {
            "get": {
                "description": "Tweets search API with Word2Vec query expansion, and add sentiment by Apitore sentiment API. Response Github: twitter-response Class: com.apitore.banana.response.twitter.TwitterResponseEntity ",
                "operationId": "searchUsingGET_3",
                "parameters": [
                    {
                        "description": "Access Token",
                        "in": "query",
                        "name": "access_token",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Search query",
                        "in": "query",
                        "name": "q",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Get after this id.",
                        "in": "query",
                        "name": "sinceId",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "default": -1
                        }
                    },
                    {
                        "description": "Get before this id.",
                        "in": "query",
                        "name": "maxId",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "default": -1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TwitterResponseEntity"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "summary": "Search tweets.",
                "tags": [
                    "twitter-word-2-vec-with-sentiment-controller"
                ]
            }
        }
    },
    "servers": [
        {
            "url": "https://api.apitore.com/api/26"
        }
    ],
    "components": {
        "schemas": {
            "TweetEntity": {
                "properties": {
                    "createdAt": {
                        "description": "Tweet date",
                        "format": "int64",
                        "type": "integer"
                    },
                    "favorited": {
                        "type": "boolean"
                    },
                    "favoritedCount": {
                        "description": "Number of be favorited",
                        "format": "int32",
                        "type": "integer"
                    },
                    "retweetCount": {
                        "description": "Number of be retweeted",
                        "format": "int32",
                        "type": "integer"
                    },
                    "retweeted": {
                        "type": "boolean"
                    },
                    "sentiment": {
                        "description": "Tweet sentiment by Apitore sentiment API",
                        "type": "string"
                    },
                    "sentimentScore": {
                        "description": "Tweet sentiment score by Apitore sentiment API",
                        "format": "double",
                        "type": "number"
                    },
                    "source": {
                        "description": "Tweet client",
                        "type": "string"
                    },
                    "statusId": {
                        "description": "Status ID",
                        "format": "int64",
                        "type": "integer"
                    },
                    "text": {
                        "description": "Tweet text",
                        "type": "string"
                    },
                    "userId": {
                        "description": "User ID",
                        "format": "int64",
                        "type": "integer"
                    },
                    "userName": {
                        "description": "User name",
                        "type": "string"
                    },
                    "userProfileImageURL": {
                        "description": "User profile image URL",
                        "type": "string"
                    },
                    "userScreenName": {
                        "description": "User screen name",
                        "type": "string"
                    }
                },
                "required": [
                    "createdAt",
                    "favoritedCount",
                    "retweetCount",
                    "source",
                    "statusId",
                    "text",
                    "userId",
                    "userName",
                    "userProfileImageURL",
                    "userScreenName"
                ],
                "type": "object"
            },
            "TwitterResponseEntity": {
                "properties": {
                    "endTime": {
                        "description": "End date",
                        "type": "string"
                    },
                    "log": {
                        "description": "Log message",
                        "type": "string"
                    },
                    "numofTweets": {
                        "description": "Output: Numof tweets",
                        "format": "int32",
                        "type": "integer"
                    },
                    "processTime": {
                        "description": "Process time [millisecond]",
                        "type": "string"
                    },
                    "query": {
                        "description": "Input: query",
                        "type": "string"
                    },
                    "startTime": {
                        "description": "Start date",
                        "type": "string"
                    },
                    "tweets": {
                        "description": "Output: Tweets",
                        "items": {
                            "$ref": "#/components/schemas/TweetEntity"
                        },
                        "type": "array"
                    }
                },
                "required": [
                    "endTime",
                    "log",
                    "numofTweets",
                    "processTime",
                    "query",
                    "startTime",
                    "tweets"
                ],
                "type": "object"
            }
        }
    }
}